* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1232px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.line {
  background: rgb(210, 210, 103);
  height: 2px;
  border: none;
}
